<component name="ArtifactManager">
  <artifact type="war" name="springbootDemo:war">
    <output-path>$PROJECT_DIR$/springbootDemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springbootDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springbootDemo-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springbootDemo:war exploded" />
    </root>
  </artifact>
</component>